:root {
    --main-color: rgb(167, 131, 131); /*Väljer senare*/
}
html {
    height: 100%;
    width: 100%;
}
body {
    display: grid;
    grid-template-columns: 1f 1fr 1fr;
}
header {
    background-color: red;
}
main {
    background-color: yellow;
}
footer {
    background-color: var(--main-color);
}