:root {
    --main-color: rgb(167, 131, 131); /*Väljer senare*/
}
html {
    height: 100%;
    width: 100%;
}
body {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100vh;
    margin: 0px;
}
header {
    background-color: red;
}
main {
    background-color: yellow;
}
footer {
    background-color: var(--main-color);
}